* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #f5f5f5;
    font-family: "Roboto Condensed", sans-serif;
  }

#titulo{
  font-family: 'Bebas Neue', sans-serif;

}
  
  .navbar-responsive {
    color: #fff;
    position: absolute;
    height: 100%;
    width: 100%;
    transform: translate3d(-100%, 0, 0);
    transition: 0.3s all ease-in-out;
    z-index: 2000;
  }
  .navbar-responsive:after {
    content: "";
    z-index: -1;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
  }
  .navbar-responsive .navbar-responsive__nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
  }
  .navbar-responsive .navbar-responsive__nav .navbar-responsive__link {
    text-align: center;
    letter-spacing: 2px;
  }
  .navbar-responsive .navbar-responsive__nav .navbar-responsive__link a {
    display: block;
    padding: 15px;
    color: #fff;
    text-decoration: none;
  }
  .navbar-responsive .navbar-responsive__nav .navbar-responsive__link a:after {
    top: 50%;
    bottom: 0;
    left: 0;
    background-color: #fff;
  }
  
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Asegura que el navbar esté por encima del carrusel */
    background-color: #fff;
    box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.25);
    padding-left:0px !important;
    padding-right:0px !important;
  }
  .navbar .navbar__wrapper {
    width: 100%;
    margin: 0 auto;
  }
  .navbar .navbar__wrapper .navbar__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
  }
  .navbar .navbar__wrapper .navbar__menu .navbar__nav {
    display: flex;
    justify-content: space-between;
    list-style: none;
  }
  .navbar .navbar__wrapper .navbar__link a,
  .navbar .navbar__wrapper .navbar__brand {
    display: block;
    position: relative;
    padding: 12px;
    color: rgb(60, 60, 60);
    letter-spacing: 0.1em;
    text-decoration: none;
  }
  .navbar .navbar__wrapper .navbar__brand {
    font-weight: 700;
    font-size: 1.8em;
  }
  .navbar .navbar__wrapper .navbar__brand img {
    height: 100%;
  }
  
  .after-transform a {
    position: relative;
  }
  .after-transform a:after {
    content: "";
    transition: all 0.3s ease;
    position: absolute;
    bottom: -3px;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #F28705;
    border-radius: 3px;
    transform: scaleX(0) translateZ(0);
    transform-origin: bottom center;
  }
  .after-transform a.active:after, .after-transform a:hover:after {
    transform: scaleX(1) translateZ(0);
  }
  #nav-icon3 {
    width: 30px;
    height: calc(100%/2);
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }
  
  #nav-icon3 span {
    display: none;
    position: absolute;
    height: 5px;
    width: 100%;
    background: #777;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }
  
  #nav-icon3 span:nth-child(1) {
    top: 0px;
  }
  
  #nav-icon3 span:nth-child(2), #nav-icon3 span:nth-child(3) {
    top: 9px;
  }
  
  #nav-icon3 span:nth-child(4) {
    top: 18px;
  }
  
  #nav-icon3.open span:nth-child(1) {
    top: 9px;
    width: 0%;
    left: 50%;
  }
  
  #nav-icon3.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  #nav-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  
  #nav-icon3.open span:nth-child(4) {
    top: 9px;
    width: 0%;
    left: 50%;
  }
  
  @media (max-width: 768px) {
    .navbar__nav {
      display: none !important;
    }
  
    #nav-icon3 span {
      display: block !important;
    }
  }
  @media (min-width: 768px) {
    .navbar__responsive {
      transform: translate3d(-100%, 0, 0) !important;
    }
  }
/* Estilos base para el contenedor de la imagen */
.image-container {
  position: relative;
  width: 100%; /* La imagen ocupa el ancho completo del contenedor */
  /* Asegúrate de que el contenedor de la imagen tenga un aspecto ratio específico */
  padding-top: 50.25%; /* Porcentaje para un aspecto de 16:9 - ajusta según sea necesario */
  height: 0; /* Esto permite mantener la proporción del contenedor */
}

/* Estilos responsivos para las imágenes del carrusel */
.img__carousel1{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Ancho completo del contenedor */
  height: 100%; /* Alto completo del contenedor */
  object-fit: cover; /* Cubrir el área del contenedor sin distorsionarse */
}
.img__carousel2{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Ancho completo del contenedor */
  height: 100%; /* Alto completo del contenedor */
  object-fit: cover; /* Cubrir el área del contenedor sin distorsionarse */
  object-position: top;
}
/* Estilos para el logo, usando unidades relativas para mantener el tamaño y la posición */
#logo1 {
  position: absolute;
  top: 45%; /* Posición desde arriba en % para mantener la relación en diferentes tamaños de pantalla */
  left: 27%; /* Centrado horizontalmente */
  transform: translate(-50%, -50%); /* Ajuste para centrar exactamente el logo */
  width: 21%; /* Ancho del logo en % para mantener la relación en diferentes tamaños de pantalla */
  z-index: 2; /* Asegurarse de que el logo se muestre sobre los otros elementos */
}

#logo2 {
  position: absolute;
  top: 72%; /* Posición desde arriba en % para mantener la relación en diferentes tamaños de pantalla */
  left: 30%; /* Centrado horizontalmente */
  transform: translate(-50%, -50%); /* Ajuste para centrar exactamente el logo */
  width: 21%; /* Ancho del logo en % para mantener la relación en diferentes tamaños de pantalla */
  z-index: 2; /* Asegurarse de que el logo se muestre sobre los otros elementos */
}

/* Estilos para el texto que se mantendrá en la misma posición y tamaño relativo */
#texto1 h1 {
  position: absolute;
  top: 16%; /* Posición vertical en % para mantener la relación */
  left: 34%; /* Centrado horizontalmente */
  transform: translate(-50%, -50%); /* Ajuste para centrar exactamente el texto */
  font-size: 3vw; /* Tamaño de fuente basado en el ancho de la ventana */
  color: white; /* Color del texto visible sobre la imagen */
  font-family: Lato;
  z-index: 1;
  white-space: nowrap; /* Evitar que el texto se ajuste y permanezca en una sola línea */
  
}

#texto2 h1 {
  position: absolute;
  top: 38%; /* Posición vertical en % para mantener la relación */
  left: 31%; /* Centrado horizontalmente */
  transform: translate(-50%, -50%); /* Ajuste para centrar exactamente el texto */
  font-size: 3vw; /* Tamaño de fuente basado en el ancho de la ventana */
  color: white; /* Color del texto visible sobre la imagen */
  font-family: Lato;
  z-index: 1;
  white-space: nowrap; /* Evitar que el texto se ajuste y permanezca en una sola línea */
  
}


/* Elimina los estilos de media query que cambian el tamaño de los elementos
   ya que queremos que todo escale en grupo */






  #nav-icon3 span:nth-child(1) {
    top: 0px;
  }
  
  #nav-icon3 span:nth-child(2), #nav-icon3 span:nth-child(3) {
    top: 9px;
  }
  
  #nav-icon3 span:nth-child(4) {
    top: 18px;
  }
  
  #nav-icon3.open span:nth-child(1) {
    top: 9px;
    width: 0%;
    left: 50%;
  }
  
  #nav-icon3.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  #nav-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  
  #nav-icon3.open span:nth-child(4) {
    top: 9px;
    width: 0%;
    left: 50%;
  }
  
  @media (max-width: 768px) {
    .navbar__nav {
      display: none !important;
    }
  
    #nav-icon3 span {
      display: block !important;
    }
  }
  @media (min-width: 768px) {
    .navbar__responsive {
      transform: translate3d(-100%, 0, 0) !important;
    }
  }

/* Estilos para el footer 
.footer {
  background-color: #F2A20C;
    color: #F2F2F2;
    padding: 1rem 0;
    display: flex;
    text-align: center;
}

.footer p {
    margin-bottom: 0;
}*/

#hr-nosotros{
  width: 50%; 
  height: 3px; 
  background-color: #F28705;
  opacity: initial;
}


ul {
  margin: 0px;
  padding: 0px;
}
.footer-section {
background: #000000;
position: relative;
}
.footer-cta {
border-bottom: 1px solid #373636;
}
.single-cta i {
color: #F28705;
font-size: 30px;
float: left;
margin-top: 8px;
}
.cta-text {
padding-left: 15px;
display: inline-block;
}
.cta-text h4 {
color: #fff;
font-size: 20px;
font-weight: 600;
margin-bottom: 2px;
}
.cta-text span {
color: #757575;
font-size: 15px;
}
.footer-content {
position: relative;
z-index: 2;
}
.footer-pattern img {
position: absolute;
top: 0;
left: 0;
height: 330px;
background-size: cover;
background-position: 100% 100%;
}
.footer-logo {
margin-bottom: 30px;
}
.footer-logo img {
  max-width: 200px;
}
.footer-text p {
margin-bottom: 14px;
font-size: 14px;
    color: #7e7e7e;
line-height: 28px;
}
.footer-social-icon span {
color: #fff;
display: block;
font-size: 20px;
font-weight: 700;
font-family: 'Poppins', sans-serif;
margin-bottom: 20px;
}
.footer-social-icon a {
color: #fff;
font-size: 16px;
margin-right: 15px;
}
.footer-social-icon i {
height: 40px;
width: 40px;
text-align: center;
line-height: 38px;
border-radius: 50%;
}
.facebook-bg{
background: #3B5998;
}
.instagram-bg{
background: #55ACEE;
}
.youtube-bg{
background: #DD4B39;
}
.copyright-area{
background: #202020;
padding: 15px 0;
}
.copyright-text p {
margin: 0;
font-size: 14px;
color: #F28705;
}
.pb-5, .py-5 {
  padding-bottom: 1.5rem !important;
}

/* Estilos para el tooltip */

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.wrapper .icon {
  position: relative;
  background: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  border: none;
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 12px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #E4405F;
  color: #ffffff;
  border: none;
  display: flex;  
}


/* Estilos para el MEMBERS */

p,a,h1,h2,h3,h4 {
	margin: 0;
	padding: 0;
}

.section-team {
	font-family: "Poppins", sans-serif;
	padding: 80px 0;
}

.section-team .header-section {
	margin-bottom: 50px;
}

.section-team .header-section .small-title {
    margin-bottom: 25px;
	font-size: 16px;
    font-weight: 500;
    color: #F28705;
}

.section-team .header-section .title {
    font-weight: 700;
    font-size: 45px;
}

.section-team .single-person {
	margin-top: 30px;
	padding: 30px;
	background-color: #f6f9ff;
	border-radius: 5px;
}

.section-team .single-person:hover {
	background: linear-gradient(to right, #F28705, #F2A20C);
}

.section-team .single-person .person-image {
    position: relative;
    margin-bottom: 50px;
    border-radius: 50%;
    border: 4px dashed transparent;
    transition: padding .3s;
}

.section-team .single-person:hover .person-image {
	padding: 12px;
    border: 4px dashed #fff;
}

.section-team .single-person .person-image img {
	width: 100%;
    border-radius: 50%;
}

.section-team .single-person .person-image .icon {
	position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,50%);
    display: inline-block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: linear-gradient(to right, #F28705, #F2A20C);
    color: #fff;
    border-radius: 50%;
    font-size: 24px;
}

.section-team .single-person:hover .person-image .icon {
	background: none;
	background-color: #fff;
	color: #F28705;
}

.section-team .single-person .person-info .full-name {
	margin-bottom: 10px;
	font-size: 28px;
    font-weight: 700;
}

.section-team .single-person .person-info .speciality {
    text-transform: uppercase;
    font-size: 14px;
    color: #016cec;
}

.section-team .single-person:hover .full-name,
.section-team .single-person:hover .speciality {
	color: #fff;
}

